
/*
BASIC SETTINGS
HEADER
NAVIGATION
MAIN CONTENT
IMAGE BROWSER
RWD PROPERTIES
*/

/* BASIC SETTINGS
   ========================================================================== */

* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 10px;
}

html, body {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 4em;
}

h2 {
    line-height: 2em;
    font-size: 2.4em;
}

h3 {
    line-height: 1.8em;
    font-size: 1.9em;
}

p {
    line-height: 1em;
    font-size: 1.5em;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: linear 300ms, opacity 300ms;
}

.active {
    visibility: visible;
    opacity: 1;
    transition: linear 0s, opacity 300ms;
}

.main-page {
    background-image: url(../images/welcome-picture.jpg);
    position: relative;
    height: 100vh;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*HEADER
   ========================================================================== */

.welcome-header {
    max-height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding: 2%;
    background-color: rgba(39, 14, 14, 0.8);
}

.welcome-header__text--big {
    padding: 1em 1em;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    5% {
        transform: translate(0px, -8px) rotate(8deg);
    }
    10% {
        transform: translate(1px, 5px) rotate(-8deg);
    }
    15% {
        transform: translate(6px, -1px) rotate(0deg);
    }
    20% {
        transform: translate(5px, -2px) rotate(10deg);
    }
    25% {
        transform: translate(-2px, -3px) rotate(-14deg);
    }
    30% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.welcome-header__text--link {
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    animation: shake 2s ease-in-out infinite;
    transform-origin: center center;
}

/*  NAVIGATION
    ========================================================================== */

.nav {
    position: fixed;
    background-color: rgba(39, 14, 14, 0.8);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    width: 100%;
    height: 50px;
}

.nav__button:before {
    height: 2px;
    width: 25px;
    background: #ffffff;
    display: block;
    content: "";
    box-shadow: 0px -7px 0px 0px #ffffff,
    0px 7px 0px 0px #ffffff;
    position: relative;
}

.nav__button {
    display: block;
    cursor: pointer;
    padding: 15px;
}

.nav__items {
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: linear 300ms, opacity 300ms;
}

.nav__items-button {
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: lowercase;
    padding: 10px 3px;
    cursor: pointer;
}

.nav__items-button--active {
    border-bottom: solid 2px #ffffff;
    display: inline-block;
    line-height: 0.5;
}

.nav__items--toggle {
    visibility: visible;
    opacity: 1;
    transition: linear 0s, opacity 300ms;
}

/*  MAIN CONTENT
    ========================================================================== */

.content-box {
    background-color: rgba(39, 14, 14, 0.8);
    width: 300px;
    height: 225px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 1;
}

.content-box__offer, .content-box__contact {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.content-box__contact {
    top: 40%;
}

.content-box__offer--small {
    font-size: 1em;
}

.content-box__contact--mail {
    text-decoration: none;
    color: #fff;
}

.content-box__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    padding: 10px;
}

.content-box__thumbnail {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(100%);
}

.content-box__thumbnail:hover {
    filter: none;
}

/*  IMAGE BROWSER
    ========================================================================== */

.image-box {
    width: fit-content;
    height: fit-content;
    z-index: 1;
    position: absolute;
    border: solid 20px transparent;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.image-box__image {
    display: block;
    background: black;
    border: solid 10px rgba(39, 14, 14, 1);
    max-width: 100%;
    max-height: 93%;
    min-width: 250px;
    min-height: 250px;
    position: relative;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
}

.image-box__icon {
    background: rgba(39, 14, 14, 0.8);
    width: 3em;
    height: 3em;
    position: absolute;
    cursor: pointer;
    margin: 10px;
}

.image-box__icon--close {
    z-index: 2;
    right: 10px;
    top: 10px;
}

.image-box__icon--close:after {
    content: '';
    height: 3em;
    border-left: .25em solid #ffffff;
    position: absolute;
    transform: rotate(-45deg);
    left: 1.375em;
}

.image-box__icon--close:before {
    content: '';
    height: 3em;
    border-left: .25em solid #ffffff;
    position: absolute;
    transform: rotate(45deg);
    right: 1.375em;
}

.image-box__icon--next {
    z-index: 2;
    right: 10px;
    bottom: 10px;
}

.image-box__icon--previous {
    z-index: 2;
    left: 10px;
    bottom: 10px;
}

.image-box__icon--next i, .image-box__icon--previous i {
    height: 1.7em;
    width: 1.7em;
    border: solid #ffffff;
    border-width: 0 0.25em 0.25em 0;
    transform-origin: 100% 100%;
    position: absolute;
    top: -15%;
}

.image-box__icon--next i {
    transform: rotate(-45deg);
    right: 20%;
}

.image-box__icon--previous i {
    transform: rotate(135deg);
    right: 80%;
}

.loader {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(39, 14, 14, .75);
}

.loader__square-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 2.5em;
    height: 2.5em;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideDownHide {
    100% {
        opacity: 0;
        transform: translateY(200%);
    }
}

@keyframes slideDownShow {
    0% {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

.loader__square {
    height: 35%;
    width: 35%;
    animation: pulse 0.75s ease-in infinite alternate;
    background-color: #ffffff;
}

.loader__square-box--hide {
    animation-name: slideDownHide;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

.loader__error--show {
    animation-name: slideDownShow;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
}

.loader__error {
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2em;
}

.loader__square--delay {
    animation-delay: 0.75s;
}

/*  RWD PROPERTIES
    ========================================================================== */

@media (min-width: 768px) and (min-height: 430px) {
    * {
        font-size: 15px;
    }

    .content-box {
        width: 600px;
        height: 450px;
        top: 5%;
    }

    h2 {
        line-height: 2.2em;
    }

    h3 {
        line-height: 2em;
    }

    .welcome-header__text--big {
        padding: 0.5em 3em;
    }

    .nav {
        background-color: transparent;
        bottom: 10px;
    }

    .nav__button {
        margin: auto 30px;
    }

    .nav__items-button:hover {
        color: #ffffff;
    }

    .nav__items-button {
        color: #000;
        padding: 10px 15px;
    }

    .nav__items-button--active {
        color: #ffffff;
        border-bottom: none;
        display: inline-block;
        line-height: 1;
    }

    .nav__button:before {
        height: 3px;
        background: #000000;
        box-shadow: 0px -7px 0px 0px #000000,
        0px 7px 0px 0px #000000;
    }
}

@media (orientation: landscape) {
    .content-box {
        left: 5%;
        transform: none;
        top: 22%;
    }
}

@media (min-width: 1200px) {
    .welcome-header__text--big {
        padding: 1.5em 6em;
    }

    .content-box {
        left: 10%;
        top: 10%;
    }
}
