* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html, body, header {
    height: 100%;
    width: 100%;
}

.hidden {
    
    /*display: none;*/
}

.active {

    /*display: inherit;*/
}

.welcomePicture {
    background-image: url(../images/welcome-picture.jpg);
    position: relative;
    height: 100vh;
    opacity: 0.95;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    width: 100%;
    height: 50px;
}

.nav a {
    text-decoration: none;
    color: #000000;
    height: 20px;
    padding: 5px;
    transition: all, .5s;
    visibility: hidden;
    margin-right: 5px;
}

label:before {
    height:2px;
    width:20px;
    background: #000000;
    display:inline-block;
    content:"";
    box-shadow:0px -5px 0px 0px  #000000,
                0px -10px 0px 0px #000000;
    transition:all .5s;
    position:relative;
}

label {
    display:block;
    color: #000000;
    cursor:pointer;
    width: 20px;
    margin-left: 15px;
    margin-right: 20px;
}

#collapse:checked ~ a{  
    visibility: visible;
}

.contentBox {
    background-color: rgba(39, 14, 14, 0.8);
    /*width: 300px;*/
    width: 90%;
    /*height: 260px;*/
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 1;
    top: 5%;
}

.offer, .contact, .welcomeHeader{
    width: 300px;
    height: 260px;
    position: absolute;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.welcomeHeader {
    font-size: 3em;
}

.offer h2, .contact h2 {
    line-height: 60px;
}

.offer h3, .contact h3 {
    line-height: 40px;
}

.offer p, .contact p {
    line-height: 30px;
}

.offer p:last-child {
    margin-top: 20px;
    font-size: 11px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.gallery img {
    width: 25%;
    max-height: 100%;
    padding: 4%;
}


.icons {
    display: none;
}

.contact a{
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {
     .contentBox {
        height: 300px;
    }
    
    .welcomeHeader {
        font-size: 3em;
        font-weight: 500;
        letter-spacing: 5px;
        width: 300px;
    }
}

@media (min-width: 992px) {
    .contentBox {
        display: block;
        height: 100%;
        width: 600px;
        margin-left: 3%;
        margin-top: 0;
    }
    
    .welcomeHeader {
        top: 20%;
        font-size: 3em;
        width: 300px;
        margin-top: 30%
    }
}

@media (min-width: 1200px) {
    .contentBox {
        width: 800px;
        margin-left: 5%;
    }
}
